

/* ---------- Fonts ---------- */

h1{
    font-size: 36px;  
}
 
h2{
    font-size: 28px;   
}
 
h3{
    font-size: 21px
}
 
h4{
    font-size: 16px;
}

 
p{
    font-size: 16px; 
}

.p2{
    font-size: 12px; 
}


/* ---------- Navigation Bar ---------- */

@media screen and (max-width: 640px){
    .menuItems{
        margin-left: 0px;
        margin-right: 5px;  
    }

    .flexnav{
        height: 50px;
    }

    .logoHome a {
        padding: 11px 100px 11px 15px;
    }

    


    
}

@media screen and (min-width: 641px){
    .menuItems{
        margin-right: 41px;  
    }   
}


/* Hamburger Menu navIcon */

.navIcon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;

}

.navIcon_burger {
    width: 31px;
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.navIcon_burger:before,
.navIcon_burger:after {
    content: "";
    position: absolute;
    width: 31px;
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.navIcon_burger:before {
    transform: translateY(-10px);
}

.navIcon_burger:after {
    transform: translateY(10px);
}


/* Hamburger Menu navIcon ANIMATION */

.navIcon.open .navIcon_burger {
    transform: translateX(-50px);
    background: transparent;
}

.navIcon.open .navIcon_burger:before {
    transform: rotate(45deg) translate(35px, -35px);
}

.navIcon.open .navIcon_burger:after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.navItem:first-child {
    margin-top: 40px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navItem:last-child {
    margin-bottom: 40px;
}

.navItem.selection a{
    font-weight: 800;
    padding: 17.5px 38px;
    padding-right: 100%;
}

.navItem a{
    padding: 17.5px 38px !important;
    padding-right: 100%;
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.navItem.proj i{
    position: absolute;
    left: 0;
    margin-left: 15px;    
    transition: transform .6s; 
    transform: translatey(3px);
}

.navItem.proj i.reverse{
    transform: translateY(3px) rotateX(180deg);
    transition: transform .4s;
}

.navItem.proj a:hover {
    color: gray;
}

.navItem.resume i {
    position: absolute;
    left: 0;
    margin-left: 15px;

    transform: translateY(7px);
}



.navMenu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    right: 0;
    width: 250px;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: rgba(2, 14, 39, 0.0);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 0px 0px 0px 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform: translateY(0px);


   
    transition: max-height .4s, background-color 1.2s, transform 4s;
    max-height: .25px;
    overflow: hidden;
}



@media screen and (min-width: 641px){   
    .navMenu.responsive{
        transform: translateY(10px);
    }
}

.navMenu.responsive{
    display: flex;
    transition: max-height 1.2s, background-color .4s;
    max-height: 500px;
    background-color: rgba(2, 14, 39, 0.85);
   
}





.dropdown-content {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    position: relative;
    background-color: rgba(2, 14, 39, 0);
    padding: 0;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);

    -webkit-backdrop-filter: none;
    backdrop-filter: none;

    transition: max-height .4s, background-color 1s;
    max-height: 0px;
    overflow: hidden;

}


.dropdown-content.responsive {
    display: flex;
    transition: max-height 1.2s; 
    max-height: 500px;
    margin-bottom: 20px;
    background-color: rgba(2, 14, 39, .6)
}


.dropdown-content a {   
    padding: 12px 0px 12px 46px !important;
}

.dropdown-content a:first-child{   
    margin-top: 17px;
}

.dropdown-content a:last-child{   
    margin-bottom: 17px;
}

.aHover{
    border-radius: 0px 0px 10px 10px;
}



/* ---------- Footer & Contact ---------- */



.contact{
    padding-top: 35px;
}

.questions{
    margin-top: 16px;
}

.footer-iconsContainer{
    margin-top: 59px;
}

.mail{
    margin-right: 37px;
    width: 45px;
}

.linkedin{
    width: 36px;
}

.copyright{
    margin-top: 49px;
}


/* -------------------- CASE STUDIES -------------------- */


/*---------- GENERAL CASE STUDY COMPONENTS ----------*/


/* ---------- Case Study Navigation ---------- */

@media screen and (max-width: 640px){
    .csNav{
        margin-top: 60px;
    }


}



 
.compass{
    width: 40px;
    height: 32px;
    border-radius: 0px 8px 8px 0px;
}

.compass img{
    width: 24px;
    height: 24px;
}

.compass i {
    font-size: 12px;
}

  
.map{
    margin-top: 30px;
    border-radius: 0px 30px 30px 0px; 

    max-height: 78vh;
    overflow: auto;
    
}
  
.sectionMap{
    margin: 17px 0px 0px 10px;
}
 
.sectionMap li {
    height: 17px;
    width: 145px;

    font-size: 14px;
    
}   
  
.subsectionMap{
    margin: 21.5px 25px 17.5px 12px;
}
  
.subsectionMap li {
    height: 12px;
    width: 140px;

    font-size: 10px;
    
}


/* ---------- General Margins, Paddings, & Widths ---------- */


section{
    scroll-margin: 70px;
}

.negative-scrollmargin{
    scroll-margin: 5px; 
}

.tiny-scrollmargin{
    scroll-margin: 30px;
}

.small-scrollmargin{
    scroll-margin: 60px;
}

.large-scrollmargin{
    scroll-margin: 220px;
}

@media screen and (max-width: 640px){
    section{
        scroll-margin: 70px;
    }
    
    .negative-scrollmargin{
        scroll-margin: -5px; 
    }
    
    .tiny-scrollmargin{
        scroll-margin: 28px;
    }
    
    .small-scrollmargin{
        scroll-margin: 50px;
    }
    
    .large-scrollmargin{
        scroll-margin: 220px;
    }

}





/* -- Overview Top -- */
.overviewTop{
    padding-top: 150px;
}

.overviewTopLeft{
    min-width: 321px;
    margin-right: 50px;
}

/* -- Overview Bottom -- */
.overviewBottom{ 
    margin-top: 38px;
    margin-bottom: 38px;
}



@media screen and (max-width: 640px){

/* ----- Project Overview ----- */

.projecOverview{
    padding-left: 15px;
    padding-right: 15px;
   
}

/* -- Overiew Top -- */
.overviewTop{
    flex-direction: column;
    padding-top: 120px;
    
}

/* Top Left */
.overviewTopLeft{
    width: 100%;
    min-width: auto;
    max-width: 1164px;
    margin-right: 0px;  
}

.overviewTitle{
    line-height: 52px; 
}

.productDescription{
    margin-top: 19px;
}

/* Top Right */
.overviewTopRight{
    width: auto;
    justify-content: center;
    margin-top: 38px;  
}

.team-tools{
    width: 62%
}


/* -- Overview Bottom -- */

/* Role */
.role{
    max-width: 260px; 
}

.roleDescription{
    margin-top: 25px;
}


/* Team & Tools */
.team-tools{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 400px){
    .team-tools{
        width: 30%;
    }
}


/* Team */
.team{
    width: 100%;
    max-width: 260px;
}
.teamDescription{
    margin-top: 25px;
}

/* Tools */
.tools{
    width: 100%;
    max-width: 216px;
}

.toolsDescription{
    margin-top: 25px;  
}

}

/* ---------- Problem & Solution ---------- */

@media screen and (max-width: 640px){
    .problemSolution{
        padding-left: 15px;
        padding-right: 15px;

        scroll-margin: 28px;
    }
}

/* -- Problem -- */
.problem{
    padding-top: 56px;
}

.problemDescription{
    margin-top: 19px;
}

/* -- Solution -- */
.solution{
    margin-top: 38px;
}

.solutionDescription{
    margin-top: 19px;
    margin-bottom: 56px;
}


/* ---------- Content ---------- */

/* -- Stage --*/
.stageSection{
    margin-top: 56px;
}

.ideation-stageSection{
    margin-top: 150px;
}

.stageTitle{
    padding-top: 8px;
    padding-bottom: 8px;
}

@media screen and (max-width: 640px){
    .stageSection{
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* -- Section -- */


.first-sectionTitle{
    margin-top: 94px;
}

.sectionTitle{
    margin-top: 38px;
}

.sectionHeading{
    margin-top: 38px;   
}

.sectionDescription{
    margin-top: 19px;
}

.sectionDescription50{
    margin-top: 38px;
}

.sectionDescription75{
    margin-top: 56px;
}

.indent90-sectionDescription{
    margin-top: 19px;
}
.indent90-sectionDescription50{
    margin-top: 38px;
}

.indent190-sectionDescription{
    margin-top: 19px;
}
.indent190-sectionDescription50{
    margin-top: 38px;
}

/* -- Lists -- */
.listDescription{
    margin-top: 38px; 
}

.sectionList{
    margin-left: 1.5%;
}

@media screen and (max-width: 640px){
    .sectionList{
        margin-left: 0%;
    }
}

li.list{
    padding: 8px 0px 8px 17px;
}

/* -- Images -- */
.imgTitle{
    margin-top: 38px;
}

.sectionIMG{
    margin-top: 38px;
}

.sectionIMGwTitle{
    margin-top: 19px;
}

/* -- Design Comparison -- */
.designComparison{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.comparedElement{
    width: 48%;
    text-align: center;
}

/* -- Info Cards -- */

.infoCard{
    max-width: 768px;
    width: 100%;
    margin-top: 56px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));   
}

.stacked-infoCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 56px;
}

/* -- Scroll Box -- */

.scrollTitle{
    padding-top: 5px;
    padding-bottom: 5px;
}

.scrollSection{
    padding-left: 20px;
    padding-right: 20px;
}

/* -- Divider -- */
.rectangleDivider{
    margin-top: 38px;
}


/* ------------------ CUSTOM COMPONENTS --------------------*/



/* --------------- SENDSMART --------------- */

/* ----- Global Components ----- */

/* ----- Case Study Navigation ----- */


/* 1 item = 0 ; 2 items = 26 ; 3 items = 32 ; 4 items = 48 ; 5 items = 64 */
/* Section Map */
.sendsmart-sectionMap li:nth-child(2){
    margin-top: 16px;
}
.sendsmart-sectionMap li:nth-child(3){
    margin-top: 0px;
}
.sendsmart-sectionMap li:nth-child(4){
    margin-top: 48px;
}
.sendsmart-sectionMap li:nth-child(5),
.sendsmart-sectionMap li:nth-child(7),
.sendsmart-sectionMap li:nth-child(8){
    margin-top: 32px;
}
.sendsmart-sectionMap li:nth-child(6){
    margin-top: 64px;
}

/* Subsection Map */
.sendsmart-subsectionMap li:nth-child(3),
.sendsmart-subsectionMap li:nth-child(4),
.sendsmart-subsectionMap li:nth-child(8),
.sendsmart-subsectionMap li:nth-child(11),
.sendsmart-subsectionMap li:nth-child(16),
.sendsmart-subsectionMap li:nth-child(19),
.sendsmart-subsectionMap li:nth-child(22){
    margin-top: 11px;
}



/* ----- Local Components ----- */

/* -- PROJECT OVERVIEW -- */



.sendsmart-overviewIMG{
    max-width: 200px;
    transform:translateY(0px);
}

.sendsmart-overview-sectionTitle{
    margin-top: 75px;
}

.sendsmartSteps-cardStack{
    margin-bottom: 75px;
}

.img-sendsmartSteps{
    max-width: 470px;
    width: 100%;
}






/* -- USER RESEARCH -- */

.userSurvey{
    margin: 70px 40px;  
}

.img-userSurvey{
    max-width: 620px;
    width: 100%;  
}

.userQuotes{
    margin: 70px 40px 115px;
}

.img-userQuotes{
    max-width: 626px;
    width: 100%;
}

.sendsmartProcess-infocard{
    max-width: 870px;
}

/* -- DEFINING THE PROBLEM -- */

@media screen and (max-width: 640px){
    .sendsmartSDT-scrollBox{
        height: 375px; 
        padding-bottom: 38px;
    }
}


/* --------------- HBO MAX --------------- */

/* ----- Case Study Navigation ----- */

/* 1 item = 0 ; 2 items = 26 ; 3 items = 32 ; 4 items = 48 ; 5 items = 64 ; 6 items = 80 */
/* Section Map */
.hbo-sectionMap li:nth-child(2),
.hbo-sectionMap li:nth-child(3){
    margin-top: 0px
}

.hbo-sectionMap li:nth-child(4){
    margin-top: 80px
}
.hbo-sectionMap li:nth-child(5),
.hbo-sectionMap li:nth-child(6),
.hbo-sectionMap li:nth-child(7){
    margin-top: 48px
}

/* Subsection Map */
.hbo-subsectionMap li:nth-child(2),
.hbo-subsectionMap li:nth-child(3),
.hbo-subsectionMap li:nth-child(9),
.hbo-subsectionMap li:nth-child(13),
.hbo-subsectionMap li:nth-child(17),
.hbo-subsectionMap li:nth-child(21){
    margin-top: 11px;
}

/* ----- Global Components ----- */





/* ----- Local Components ----- */

@media screen and (min-width: 641px){
.hbo-overviewTopLeft{
    width: 60%;
    min-width: 0px;
}
}




/* -- USER RESEARCH -- */

.quotes{
    margin-top: 25px;
}


/* -- DEFINITION & IDEATION -- */
/* Problem Statement */

.problemStatement{
    margin-top: 50px;
}


/* Feature Prioritization Matrix */

.matrixDescription{
    margin-top: 50px
}


/* -- DESIGN & PROTOTYPE --/
/* Proposed User Flow */

.featuresDescription{
    margin-top: 25px;
    line-height: 25px;
}



/* -- Testing & Iteration --/
/* Usability Testing*/

.testingIMGs{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.testIMGLeft{
    width: 44.6%;
}

.testIMGRight{
    width: 51.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testIMG{
    width: 100%;
    max-width: 1164px;
}


/* Usability Testing*/

.feedbackList{
    margin-top: 25px;
    line-height: 25px;
}


/* Iterations */

.iterationsList{
    margin-top: 25px;
    line-height: 25px;
}

/* Reflections & Next Steps */

.reflection-stageSection{
    margin-bottom: 200px;
}