/* Fonts */

h1{
    font-size: 36px;   
}
 
h2{
    font-size: 28px;    
}
 
h3{
    font-size: 21px;
}
 
h4{
    font-size: 16px;
}

p{
    font-size: 16px;   
}

p2{
    font-size: 12px; 
}





/* ---------- Navigation Bar ---------- */


.menuItems{
    margin-left: 20px;
    margin-right: 30px;  
}


/* Hamburger Menu navIcon */

.navIcon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;

}

.navIcon_burger {
    width: 31px;
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.navIcon_burger:before,
.navIcon_burger:after {
    content: "";
    position: absolute;
    width: 31px;
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.navIcon_burger:before {
    transform: translateY(-10px);
}

.navIcon_burger:after {
    transform: translateY(10px);
}


/* Hamburger Menu navIcon ANIMATION */

.navIcon.open .navIcon_burger {
    transform: translateX(-50px);
    background: transparent;
}

.navIcon.open .navIcon_burger:before {
    transform: rotate(45deg) translate(35px, -35px);
}

.navIcon.open .navIcon_burger:after {
    transform: rotate(-45deg) translate(35px, 35px);
}


.navItem {
    padding: 17.5px 0px;
}

.navItem:first-child {
    margin-top: 40px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navItem:last-child {
    margin-bottom: 40px;
}

.navItem a{
    padding: 17.5px 38px;
    padding-right: 100%;
   
}

.navItem i{
    margin-left: 82px;
    font-size: 24px;
    transform: translateY(-.5px);
    transition: transform .6s;
    
   
}

.navItem i.reverse{
    transform: rotateX(180deg);
    transition: transform .4s;
}


.navItem-projects{
    display: flex;
}


.navMenu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    right: 0;
    width: 250px;
    margin-top: 60px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: rgba(2, 14, 39, 0.0);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 0px 0px 0px 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

   
    transition: max-height .4s, background-color 1.2s;
    max-height: .25px;
    overflow: hidden;
}




.navMenu.responsive{
    display: flex;
    transition: max-height 1.2s, background-color .4s;
    max-height: 500px;
    background-color: rgba(2, 14, 39, 0.85);
   
}



.dropdown-content {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    position: relative;
    background-color: rgba(2, 14, 39, 0);
    padding: 0;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);

    -webkit-backdrop-filter: none;
    backdrop-filter: none;

    transition: max-height .4s, background-color 1s;
    max-height: 0px;
    overflow: hidden;

}


.dropdown-content.responsive {
    display: flex;
    transition: max-height 1.2s; 
    max-height: 500px;
    margin-bottom: 20px;
    background-color: rgba(2, 14, 39, .6)
}


.dropdown-content a {   
    padding: 12px 0px 12px 46px;
}

.dropdown-content a:first-child{   
    margin-top: 17px;
}

.dropdown-content a:last-child{   
    margin-bottom: 17px;
}
  
.dropdown-content a:hover {
    background-color: rgba(2, 14, 39, 0.6);
    border-radius: 0px 0px 10px 10px;
}

.aHover{
    border-radius: 0px 0px 10px 10px;
}







/* ---------- Hero Section ---------- */

.content{
    margin-top: 180px;
    padding-left: 20px;
    padding-right: 20px;
}


.title{
    margin-top: 76px;   
}

.objective{
    margin-top: 19px;
}

.heroButton{
    margin-top: 110px;
    margin-bottom: 110px;

}


/* ---------- Skills Section ---------- */

.mySkills{
    padding-left: 20px;
    padding-right: 20px;
}

.skills{
    padding-top: 75px;
}

.flexContainer1{
    margin-top: 53px;
    flex-direction: column;
    align-items: center;
     
}

.flexContainer2{
    margin-top: 53px;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 120px
}

.flexChild + .flexChild{
    margin-left: 0px;
    margin-top: 53px;
}


.skillDescription{
    margin-top: 15px;
}



/* ---------- Projects Section ---------- */

.projectButton{
    padding: 12px 29px;
    font-size: 14px;
}

.projects{
    padding-top: 75px; 
}

.projectCard{
    height: auto;
    margin-top: 75px;
    border-radius: 30px;
    max-width: 480px;  
}

.projectCards-Container{
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 150px;
}

.projectCard-content{
    flex-direction: column;
    justify-content: space-between;
    width: 100%; 
    margin: 40px 20px;
    
}

.projectInfo{
    width: 100%;
}

.projectSubHead{
    margin-top: -4px;
    line-height: 20px;
}

.projectDescription{
    margin-top: 20px;
}

.projectCard-button{
    text-align: center;
    margin-top: 37px;
}




/* SendSmart */

.sendsmartInfo{
    order: 2;
    margin-top: 30px;
}

.sendsmartIMG{
    margin: auto 20%;
}

.sendsmart-img{
    max-width: 180px;
}


/* HBO Max */


.hboInfo{
    margin-top: 30px;
    margin-left: 0px;  
}

.hbo-img{
    max-width: 322.37px;
}




/* Footer & Contact */

.collaborate{
    font-weight: 600;
}

.contact{
    padding-top: 35px;
}

.questions{
    margin-top: 16px;
}


.footer-iconsContainer{
    margin-top: 59px;
}


.footer-icons{
    padding: 0px;
    display: inline-block;
   
}

.mail{
    margin-right: 37px;
    width: 45px;
}

.linkedin{
    width: 36px;
}

.copyright{
    margin-top: 49px;
}