

/* ---------- Fonts ---------- */

h1{
    font-size: 36px;  
}
 
h2{
    font-size: 28px;   
}
 
h3{
    font-size: 21px
}
 
h4{
    font-size: 16px;
}

 
p{
    font-size: 16px; 
}

.p2{
    font-size: 12px; 
}


/* ---------- Navigation Bar ---------- */


.menuItems{
    margin-left: 20px;
    margin-right: 30px;  
}


/* Hamburger Menu navIcon */

.navIcon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;

}

.navIcon_burger {
    width: 31px;
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.navIcon_burger:before,
.navIcon_burger:after {
    content: "";
    position: absolute;
    width: 31px;
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.navIcon_burger:before {
    transform: translateY(-10px);
}

.navIcon_burger:after {
    transform: translateY(10px);
}


/* Hamburger Menu navIcon ANIMATION */

.navIcon.open .navIcon_burger {
    transform: translateX(-50px);
    background: transparent;
}

.navIcon.open .navIcon_burger:before {
    transform: rotate(45deg) translate(35px, -35px);
}

.navIcon.open .navIcon_burger:after {
    transform: rotate(-45deg) translate(35px, 35px);
}


.navItem {
    padding: 17.5px 0px;

}

.navItem:first-child {
    margin-top: 40px;
    padding-bottom: 0px;
}

.navItem:last-child {
    margin-bottom: 40px;
}

.navItem a{
    padding: 17.5px 38px;
    padding-right: 100%;
    
}


.navMenu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    right: 0;
    width: 250px;
    margin-top: 60px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: rgba(2, 14, 39, 0.0);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 0px 0px 0px 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

   
    transition: max-height .4s, background-color 1.2s;
    max-height: .25px;
    overflow: hidden;
}




.navMenu.responsive{
    display: flex;
    transition: max-height 1.2s, background-color .4s;
    max-height: 500px;
    background-color: rgba(2, 14, 39, 0.9);
   
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    background-color: rgba(2, 14, 39, 0);
    padding: 0;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);

    -webkit-backdrop-filter: none;
    backdrop-filter: none;

    transition: max-height .4s, background-color 1s;
    max-height: .25px;
    overflow: hidden;

}

.dropdown-content.responsive {
    display: flex;
    transition: max-height 1.2s; 
    max-height: 500px;
    margin-bottom: 20px;
    background-color: rgba(2, 14, 39, .7)
}

.dropdown-content a {   
    padding: 12px 0px 12px 46px;
}

.dropdown-content a:first-child{   
    margin-top: 17px;
}

.dropdown-content a:last-child{   
    margin-bottom: 17px;
}
  
.dropdown-content a:hover {
    background-color: rgba(2, 14, 39, 0.6);
    border-radius: 0px 0px 10px 10px;
}

.aHover{
    border-radius: 0px 0px 10px 10px;
}


/* ---------- Footer & Contact ---------- */



.contact{
    padding-top: 35px;
}

.questions{
    margin-top: 16px;
}

.footer-iconsContainer{
    margin-top: 59px;
}

.mail{
    margin-right: 37px;
    width: 45px;
}

.linkedin{
    width: 36px;
}

.copyright{
    margin-top: 49px;
}


/* -------------------- CASE STUDIES -------------------- */


/*---------- GENERAL CASE STUDY COMPONENTS ----------*/

.overviewTop{
    padding-top: 150px;
}

.overviewTopLeft{
    min-width: 321px;
    margin-right: 50px;
}

@media screen and (max-width: 640px){

/* ----- Project Overview ----- */

.projecOverview{
    padding-left: 20px;
    padding-right: 20px;
   
}


/* -- Overiew Top -- */
.overviewTop{
    flex-direction: column;
    padding-top: 120px;
    
}

/* Top Left */
.overviewTopLeft{
    width: 100%;
    min-width: auto;
    max-width: 1164px;
    margin-right: 0px;  
}

.overviewTitle{
    line-height: 52px; 
}

.productDescription{
    margin-top: 19px;
}

/* Top Right */
.overviewTopRight{
    width: auto;
    justify-content: center;
    margin-top: 38px;  
}

.team-tools{
    width: 62%
}


/* -- Overview Bottom -- */
.overviewBottom{
    
    margin-top: 38px;
    margin-bottom: 38px;
   
}

/* Role */
.role{
    max-width: 260px; 
}

.roleDescription{
    margin-top: 25px;
}


/* Team & Tools */
.team-tools{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 400px){
    .team-tools{
        width: 30%;
    }
}


/* Team */
.team{
    width: 100%;
    max-width: 260px;
}
.teamDescription{
    margin-top: 25px;
}

/* Tools */
.tools{
    width: 100%;
    max-width: 216px;
}

.toolsDescription{
    margin-top: 25px;  
}

}

/* ---------- Problem & Solution ---------- */

.problemSolution{
    background-color: #C4C4C4;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* -- Problem -- */
.problem{
    width: 100%;
    max-width: 1164px;
    padding-top: 75px;
}

.problemDescription{
    margin-top: 25px;
}

/* -- Solution -- */
.solution{
    width: 100%;
    max-width: 1164px;
    margin-top: 50px;
}

.solutionDescription{
    margin-top: 25px;
    margin-bottom: 75px;
}


/* ---------- Content ---------- */

/* -- Stage --*/
.stageTitle{
    margin-top: 75px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #C4C4C4;
    padding-top: 10px;
    padding-bottom: 10px;
}

.stageSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.stageContent{
    width: 100%;
    max-width: 1164px;
}

/* -- Section -- */
.sectionTitle{
    margin-top: 50px;
}

.sectionHeading{
    margin-top: 50px;   
}

.sectionDescription{
    margin-top: 25px;
}

.sectionDescription50{
    margin-top: 50px;
}

.sectionDescription75{
    margin-top: 75px;
}

.indent90-sectionDescription{
    margin-top: 25px;
    margin-left: 90px;
}
.indent90-sectionDescription50{
    margin-top: 50px;
    margin-left: 90px;
}

.indent190-sectionDescription{
    margin-top: 25px;
    margin-left: 190px;
}
.indent190-sectionDescription50{
    margin-top: 50px;
    margin-left: 190px;
}

/* -- Lists -- */
.listDescription{
    margin-top: 50px; 
}

ul.sectionList{
    list-style-type: disc;
    padding-left: 64px;
    margin-top: 15px;
    margin-bottom: 0px;   
}

li.list{
    padding: 10px 0px 10px 23px;
}

/* -- Images -- */
.imgTitle{
    margin-top: 50px;
}

.sectionIMG{
    width: 100%;
    max-width: 1164px;
    margin-top: 50px;
}

.sectionIMGwTitle{
    width: 100%;
    max-width: 1164px;
    margin-top: 25px;
}

/* -- Design Comparison -- */
.designComparison{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.comparedElement{
    width: 48%;
    text-align: center;
}

/* -- Divider -- */
.rectangleDivider{
    margin-top: 50px;
    height: 2px;
    max-width: 1164px;
    width: 100%;
    background-color: #C4C4C4;
}





/* ------------------ CUSTOM COMPONENTS --------------------*/



/* --------------- SENDSMART --------------- */

/* ----- Global Components ----- */

.infoCard{
    max-width: 768px;
    width: 100%;
    margin-top: 75px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
    
}


.stacked-infoCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}

.sendsmart-stageTitle{
    background-color: #2E3538;
}

.sendsmartScroll-stageTitle{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #2E3538;
    padding-top: 6px;
    padding-bottom: 6px;
}

.scrollBox{
    background-color: white;
    overflow-y: auto;
}

.scrollBox::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scrollBox::-webkit-scrollbar:vertical {
    width: 16px;
}

.scrollBox::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}

.scrollSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.scrollContent{
    width: 100%;
    max-width: 1164px;
}


/* ----- Local Components ----- */

/* -- PROJECT OVERVIEW -- */
.sendsmart-overviewIMG{
    max-width: 250px;
    transform:translateY(0px);
}

.sendsmart-overview-sectionTitle{
    text-align: center;
    margin-top: 100px;
}

.sendsmartSteps-cardStack{
    margin-bottom: 100px;
}

.sendsmartSteps{
    margin: 36px 40px 40px; 

}

.img-sendsmartSteps{
    max-width: 470px;
    width: 100%;
}



/* -- PROBLEM & SOLUTION -- */

.sendsmart-problemSolution {
    background-color: #2E3538;
}


/* -- USER RESEARCH -- */

.userSurvey{
    margin: 70px 40px;  
}

.img-userSurvey{
    max-width: 620px;
    width: 100%;  
}

.userQuotes{
    margin: 70px 40px 115px;
}

.img-userQuotes{
    max-width: 626px;
    width: 100%;
}

.sendsmartProcess-infocard{
    max-width: 870px;
}

/* -- DEFINING THE PROBLEM -- */

.sendsmartSDT-scrollBox{
    height: 565px;
    
    padding-bottom: 50px;
}


.sendsmart-responseMatrix{
    max-width: 712px;
}

/* -- TESTING & ITERATIONS -- */

.sendsmart-accountIconography{
    max-width: 542px;
    width: 100%;
}

.sendsmart-sideNavigation{
    max-width: 654px;
    width: 100%;
}





/* --------------- HBO MAX --------------- */

/* ----- Global Components ----- */

.hbo-stageTitle{
    background-color: #2E215A;
}


/* ----- Local Components ----- */


/* -- PROBLEM & SOLUTION -- */

.hbo-problemSolution {
    background-color: #2E215A;
}


/* -- USER RESEARCH -- */

.quotes{
    margin-top: 25px;
}


/* -- DEFINITION & IDEATION -- */
/* Problem Statement */

.problemStatement{
    margin-top: 50px;
}


/* Feature Prioritization Matrix */

.matrixDescription{
    margin-top: 50px
}


/* -- DESIGN & PROTOTYPE --/
/* Proposed User Flow */

.featuresDescription{
    margin-top: 25px;
    line-height: 25px;
}



/* -- Testing & Iteration --/
/* Usability Testing*/

.testingIMGs{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.testIMGLeft{
    width: 44.6%;
}

.testIMGRight{
    width: 51.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testIMG{
    width: 100%;
    max-width: 1164px;
}


/* Usability Testing*/

.feedbackList{
    margin-top: 25px;
    line-height: 25px;
}


/* Iterations */

.iterationsList{
    margin-top: 25px;
    line-height: 25px;
}

/* Reflections & Next Steps */

.reflection-stageSection{
    margin-bottom: 200px;
}