html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    height: 100%
}



/* ---------- Fonts ---------- */

h1{
    margin: 0;
    font-size: 48px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    
 }
 
h2{
    margin: 0;
    font-size: 36px;
    font-family: 'Titillium Web', sans-serif;
    line-height: 43px;
    font-weight: 600;
     
}
 
h3{
    margin: 0;
    font-size: 28px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    line-height: 33px;
}

h3.regular{
    font-weight: 400;
}
 
h4{
    margin: 0;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

 
p{
    margin: 0;
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

p.bold{
    font-weight: 700;
}
 
p.extra-bold{
    font-weight: 900;
}

.p2{
    margin: 0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

strong{
    font-weight: 700;
}

b{
   font-weight: 900;
}


/* ---------- Navigation Bar ---------- */


/* Nav Bar */

.flexnav{  
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    z-index: 10;
    justify-content: center;
    background-color: rgba(2, 14, 39, 0.7);
}

.flexnav:before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.menuItems{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px; 
    align-items: center; 
}

/* Logo */

.logoHome a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 16px 20px;
}


/* Nav Icon */

.navIcon{
    display: none; 
}


/* Nav Items */

.proj{
    cursor: pointer;
}

.navMenu{
    display: flex;  
}

.navItem a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 400;
    padding: 17.5px 25px;

}

.navItem i{
    margin-right:-10px;
    font-size: 16px;
    opacity: .5;
    transition: transform .85s;
    transition-delay: .4s;
}



/* Dropdown */

.dropdown-content {
    display: flex;
    flex-direction: column;
    margin-top: 17.25px;
    position: absolute;
    background-color: rgba(2, 14, 39, 0);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    min-width: 225px;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

   
    overflow: hidden;
    max-height: .25px;
    transition: max-height 1.2s, background-color 3s;
   
   
}

.dropdown-content a {   
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 400;
}

.dropdown-content a:first-child{   
    margin-top: 17px;
}

.dropdown-content a:last-child{   
    margin-bottom: 17px;
}
  
.dropdown-content a:hover {
    background-color: rgba(2, 14, 39, 0.6);
    border-radius: 0px 0px 10px 10px;
}

@media screen and (min-width: 940px) {
.proj:hover .dropdown-content {
    max-height: 500px;
    transition: max-height 1.2s, background-color .4s;
    background-color: rgba(2, 14, 39, 0.85);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.proj:hover .fa-caret-down {
    transform: rotate(-180deg);
    transition: transform .35s;
}

}

/* ---------- Footer & Contact ---------- */


footer{
    background-color: #344465;
    color: white;
    text-align: center;
}

.collaborate{
    font-weight: 600;
}

.contact{
    padding-top: 46px;
}

.questions{
    margin-top: 21px;
}


.footer-iconsContainer{
    margin-top: 78px;
}


.footer-icons{
    padding: 0px;
    display: inline-block;
   
}

.mail{
    margin-right: 50px;
}

.copyright{
    margin-top: 65px;
    padding-bottom: 24px;
}



/* -------------------- CASE STUDIES -------------------- */



/*---------- GENERAL CASE STUDY COMPONENTS ----------*/

/* ---------- Case Study Navigation ---------- */

.csNav{
    position: fixed;
    top: 10%;
    z-index: 1; 
  }
  
  .compass{
    width: 30px;
    height: 30px;
    background: #DEC981;
    border: 1px solid #aaa;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .map.open{
    max-height: 700px;
    transition: max-height 1s;
  }
  
  .map{
    background: #ccc;
    width: auto;
    
    display: flex;
    
    height: auto;
    overflow: hidden;
    max-height: 0px;
    transition: max-height .5s;
  }
  
  .sectionMap{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sectionMap li {
    height: 20px;
    padding: 5px 10px 35px 10px;
    cursor: pointer;
    transition: all .2s;
  }
  
  .sectionMap li:hover {
    color: gray;
  }
  
  
  
  .subsectionMap{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .subsectionMap li {
    height: 20px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .2s;
  }
  
  .subsectionMap li:hover {
    color: gray;
  }
 
  .map li.selected{
    color: white;
  }


/* ---------- General Margins, Paddings, & Widths ---------- */

.subsectionContent{
    max-width: 1164px;
    width: 100%;
}

section{
    scroll-margin: 75px;
}


/* ---------- Project Overview ---------- */

.projecOverview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
   
}



/* -- Overiew Top -- */
.overviewTop{
    display: flex;
    justify-content: space-between;
    padding-top: 198px;
}

/* Top Left */
.overviewTopLeft{
    width: 55%;
    max-width: 542px;
    min-width: 427px;
    margin-right: 100px;
   
}

.overviewTitle{
    line-height: 52px; 
}

.productDescription{
    margin-top: 25px;
}

/* Top Right */
.overviewTopRight{
    display: flex;
    justify-content: right;
    align-items: center;  
    
}

.overviewIMG{
    width: 100%;
}


/* -- Overview Bottom -- */
.overviewBottom{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

/* Role */
.role{
    max-width: 260px; 
}

.roleDescription{
    margin-top: 25px;
}


/* Team & Tools */
.team-tools{
    width: 59%;
    display: flex;
    justify-content: space-between;
}

/* Team */
.team{
    width: 100%;
    max-width: 260px;
}
.teamDescription{
    margin-top: 25px;
}

/* Tools */
.tools{
    width: 100%;
    max-width: 216px;
}

.toolsDescription{
    margin-top: 25px;  
}


/* ---------- Problem & Solution ---------- */
.subsection-Smallscrollmargin{
    scroll-margin: 25px;
}

.problemSolution{
    background-color: #C4C4C4;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

/* -- Problem -- */
.problem{
    width: 100%;
    padding-top: 75px;
}

.problemDescription{
    margin-top: 25px;
}

/* -- Solution -- */
.solution{
    width: 100%;
    margin-top: 50px;
}

.solutionDescription{
    margin-top: 25px;
    margin-bottom: 75px;
}



/* ---------- Content ---------- */

/* -- Stage --*/
.stageTitle{
    text-align: center;
    color: white;
    background-color: #C4C4C4;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    width: 100%;
}

.stageSection{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-left: 50px;
    padding-right: 50px;

    scroll-margin: 75px;  
}

.scrollmargin{
    scroll-margin: 75px;

}

.stageContent{
    max-width: 1164px;  
    
}

/* -- Section -- */

.negative-scrollmargin{
    scroll-margin: -25px; 
}

.small-scrollmargin{
    scroll-margin: 50px;
}

.large-scrollmargin{
    scroll-margin: 220px;
}

.first-sectionTitle{
    margin-top: 125px;
}

.sectionTitle{
    margin-top: 50px;
}

.sectionHeading{
    margin-top: 50px;   
}

.sectionDescription{
    margin-top: 25px;
}

.sectionDescription50{
    margin-top: 50px;
}

.sectionDescription75{
    margin-top: 75px;
}

.indent90-sectionDescription{
    margin-top: 25px;
    margin-left: 8%;
}
.indent90-sectionDescription50{
    margin-top: 50px;
    margin-left: 8%;
}

.indent190-sectionDescription{
    margin-top: 25px;
    margin-left: 16%;
}
.indent190-sectionDescription50{
    margin-top: 50px;
    margin-left: 16%;
}

/* -- Lists -- */
.listDescription{
    margin-top: 50px; 
}

ul.sectionList{
    list-style-type: disc;
}

.sectionList{
    margin-left: 3%;
}

li.list{
    padding: 10px 0px 10px 23px;
}

/* -- Images -- */
.imgTitle{
    margin-top: 50px;
}

.sectionIMG{
    width: 100%;
    max-width: 1164px;
    margin-top: 50px;
}

.sectionIMGwTitle{
    width: 100%;
    max-width: 1164px;
    margin-top: 25px;
}

/* -- Info Cards -- */

.infoCard{
    max-width: 768px;
    width: 100%;
    margin-top: 75px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));   
}

.stacked-infoCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}

/* -- Design Comparison -- */
.designComparison{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.comparedElement{
    width: 48%;
    text-align: center;
}

/* -- Scroll Box -- */

.scrollTitle{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #C4C4C4;
    padding-top: 6px;
    padding-bottom: 6px;
}

.scrollBox{
    background-color: white;
    overflow-y: auto;
}

.scrollBox::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scrollBox::-webkit-scrollbar:vertical {
    width: 16px;
}

.scrollBox::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}

.scrollSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.scrollContent{
    width: 100%;
    max-width: 1164px;
}

/* -- Divider -- */
.rectangleDivider{
    margin-top: 50px;
    height: 2px;
    max-width: 1164px;
    width: 100%;
    background-color: #C4C4C4;
}





/* ------------------ CUSTOM COMPONENTS --------------------*/



/* --------------- SENDSMART --------------- */

/* ----- Global Components ----- */

.sendsmart-projectOverview{
    background-color: #E4F0FC;
}

.sendsmart-stageTitle{
    background-color: #303B46;
}


/* ----- Local Components ----- */

/* -- PROJECT OVERVIEW -- */
.sendsmart-overviewIMG{
    max-width: 334px;
    transform:translateY(-41px);
    
}

.sendsmart-overviewTopRight{
    margin-right: 0px;
}

.sendsmart-overview-sectionTitle{
    text-align: center;
    margin-top: 100px;
}

.sendsmartSteps-cardStack{
    margin-bottom: 100px;
}

.img-sendsmartSteps{
    max-width: 470px;
    width: 100%;
}



/* -- PROBLEM & SOLUTION -- */

.sendsmart-problemSolution {
    background-color: #303B46;
}


/* -- USER RESEARCH -- */

.userSurvey{
    margin: 70px 40px;  
}

.img-userSurvey{
    max-width: 620px;
    width: 100%;  
}

.userQuotes{
    margin: 70px 40px 115px;
}

.img-userQuotes{
    max-width: 626px;
    width: 100%;
}

.sendsmartProcess-infocard{
    max-width: 870px;
}

/* -- DEFINING THE PROBLEM -- */


.sendsmartSDT-scrollBox{
    height: 565px; 
    padding-bottom: 50px;
}

.sendsmartScroll-scrollTitle{
    background-color: #303B46;
}


.sendsmart-responseMatrix{
    max-width: 712px;
}

/* -- TESTING & ITERATIONS -- */

.sendsmart-accountIconography{
    max-width: 542px;
    width: 100%;
}

.sendsmart-sideNavigation{
    max-width: 654px;
    width: 100%;
}





/* --------------- HBO MAX --------------- */

/* ----- Global Components ----- */

.hbo-stageTitle{
    background-color: #302B46;
}


/* ----- Local Components ----- */


/* -- PROJECT OVERVIEW -- */

.hbo-projecOverview{
    background-color: #F2EEFF;
}

.hbo-overviewTopLeft{
    width: 50%;
    min-width: 0px;
}

.hbo-overviewTopRight{
    width: 50%;
}

/* -- PROBLEM & SOLUTION -- */

.hbo-problemSolution {
    background-color: #302B46;
}


/* -- USER RESEARCH -- */

.quotes{
    margin-top: 25px;
}


/* -- DEFINITION & IDEATION -- */
/* Problem Statement */

.problemStatement{
    margin-top: 50px;
}


/* Feature Prioritization Matrix */

.matrixDescription{
    margin-top: 50px
}


/* -- DESIGN & PROTOTYPE --/
/* Proposed User Flow */

.featuresDescription{
    margin-top: 25px;
    line-height: 25px;
}



/* -- Testing & Iteration --/
/* Usability Testing*/

.testingIMGs{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.testIMGLeft{
    width: 44.6%;
}

.testIMGRight{
    width: 51.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testIMG{
    width: 100%;
    max-width: 1164px;
}


/* Usability Testing*/

.feedbackList{
    margin-top: 25px;
    line-height: 25px;
}


/* Iterations */

.iterationsList{
    margin-top: 25px;
    line-height: 25px;
}

/* Reflections & Next Steps */

.reflection-stageSection{
    margin-bottom: 200px;
}