html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    height: 100%
}



/* Fonts */

h1{
    margin: 0;
    font-size: 48px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    
 }
 
 h2{
    margin: 0;
    font-size: 36px;
    font-family: 'Titillium Web', sans-serif;
    line-height: 43px;
    font-weight: 700;
     
 }
 
 h3{
    margin: 0;
    font-size: 28px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    line-height: 33px;
 }
 
 h4{
    margin: 0;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
 }



 p{
    margin: 0;
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
 }

 .p2{
    margin: 0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
 }

 strong{
    font-weight: 900;
 }


/* ---------- Navigation Bar ---------- */


/* Nav Bar */

.flexnav{  
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    z-index: 10;
    justify-content: center;
    background-color: rgba(2, 14, 39, 0.7);
}

.flexnav:before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.menuItems{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px; 
    align-items: center; 
}

/* Logo */

a.selection {
    font-weight: 800 !important;
}

.logoHome a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding: 16px 100px 16px 20px;
}

.logoHome a.selection{
    padding: 16px 100px 16px 18px;
}

/* Nav Icon */

.navIcon{
    display: none; 
}


/* Nav Items */

.proj{
    cursor: pointer;
}

.navMenu{
    display: flex;
}

.navMenu a{
    color: white;
    transition: color .2s;
}

.navItem.selection a{
    font-weight: 800;
    padding: 17.5px 24px;
}

.navItem a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    padding: 17.5px 25px;
}

.navItem.proj i{
    margin-right:-10px;
    font-size: 16px;
    opacity: .5;
    transition: transform .85s;
    transition-delay: .4s;
}

.navItem.resume i{
    margin-right:-10px;
    margin-left: 1px;
    font-size: 12px;
    opacity: .5;
    transform: translateY(-2px);
}

.navItem.resume a:hover,
.navItem.about a:hover {
    color: gray;
}





/* Dropdown */

.dropdown-content {
    display: flex;
    flex-direction: column;
    margin-top: 17.25px;
    position: absolute;
    background-color: rgba(2, 14, 39, 0);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    min-width: 225px;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    
    overflow: hidden;
    max-height: .25px;
    transition: max-height 1.2s, background-color 3s;
   
   
}

.dropdown-content a {   
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 300;
    transition: color .2s;
}

.dropdown-content a:first-child{   
    margin-top: 17px;
}

.dropdown-content a:last-child{   
    margin-bottom: 17px;
}

.dropdown-content a:hover {
    color: gray;
}

@media screen and (min-width: 940px) {
.proj:hover .dropdown-content {
    max-height: 500px;
    transition: max-height 1.2s, background-color .4s;
    background-color: rgba(2, 14, 39, 0.85);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.proj:hover .fa-caret-down {
    transform: rotate(-180deg);
    transition: transform .35s;
}

}

/* -------------------- HOME / MAIN --------------------*/


/* ---------- Hero Section ---------- */

.heroImg{
    justify-content: center;
    display: flex;
    background-image:linear-gradient(180deg, #2B4972 0%, #9ABCEA 100%);
}

    

.content{
    margin-top: 221px;
    max-width: 960px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 20px;
    padding-right: 20px;
    

}


.title{
    margin-top: 103px;
    
}

.objective{
    margin-top: 30px;
    

}

.heroButton{
    margin-top: 175px;
    margin-bottom: 146px;
    
   
}

.projectButton a{
    text-decoration: none;
    color: white;
}




/* ---------- Skills Section ---------- */

.mySkills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #344465;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.skills{
    text-align: center;
    padding-top: 100px;
}

.flexContainer1{
    max-width: 960px;
    width: 100%;
    margin-top: 70px;

    display: flex;
    text-align: center;
    justify-content: space-between;  
}


.flexContainer2{
    max-width: 960px;
    width: 100%;
    margin-top: 82px;

    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 160px;
}



.flexChild{
    max-width: 450px;
    width: 100%;
}

.flexChild:nth-of-type(even){
    margin-left: 60px;
}

.skillDescription{
    margin-top: 30px;
}

.skillDescription{
    margin-top: 30px;
}

/* ---------- Projects Section ---------- */

.projectButton{
    background-image: linear-gradient(180deg, #1A3F8E 0%, #0B255B 100%);
    border: 1px solid #000000;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    color: white;
    padding: 16px 40px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
   
}

.projectButton:hover {
    color: #F2D579;
}

.projectName{
    font-weight: 600;
}

.projectDescription{
    margin-top: 29px;
}

.myProjects{
    background-color: #9ABCEA;
   
}

.projects{
    padding-top: 100px;
    text-align: center;
}

.projectCards-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 200px;
}

.projectCard{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 454px;
    width: 100%;
    max-width: 960px;
    margin-top: 100px;
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    
}

.projectCard-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1007px;
    margin: auto 50px;
    
}

.projectInfo{
    margin-top: auto;
    margin-bottom: auto;
    width: 481px;
    
}

.projectIMG{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.projectCard-button{
    margin-top: 49px;
}


/* SendSmart */

.sendsmartCard{
    background-color: #E4F0FC
}

.sendsmartIMG{
    margin-left: 6.7%;
    margin-right: 0;
}

.sendsmart-img{
    max-width: 375px;
    width: 100%;
}


/* HBO Max */

.hboCard{
    background-color: #F2EEFF;
}

.hboIMG{
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .4)); 
}

.hbo-img{
    max-width: 495px;
    width: 100%;
}

.hboInfo{
    margin-left: 6.7%;
}







/* ---------- Footer & Contact ---------- */


footer{
    background-color: #344465;
    color: white;
    text-align: center;
}

.collaborate{
    font-weight: 600;
}

.contact{
    padding-top: 46px;
}

.questions{
    margin-top: 21px;
}


.footer-iconsContainer{
    margin-top: 78px;
}


.footer-icons{
    padding: 0px;
    display: inline-block;
   
}

.mail{
    margin-right: 50px;
}

.copyright{
    margin-top: 65px;
    padding-bottom: 24px;
}






/* -------------------- ABOUT --------------------*/

.aboutSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.aboutTitle{
    margin-top: 221px;
    color: white;
}

.aboutContent{
    width: 100%;
    max-width: 960px;

    color: white;

    margin-top: 100px;
    margin-bottom: 200px;

}

.about1{
    display: flex;
}

.about-img{
    width: 245px;
    
}

.about1B{
    margin-left: 50px;
}

.about2{
    margin-top: 50px;

    display: flex;
    justify-content: space-between;

}

.about2Aii{
    margin-top: 50px;
}











